In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [2]:
"""Q1. Write a code to print the data present in the second row of the dataframe, df."""

print(list(df.iloc[1]))

['Machine Learning', 3]

In [3]:
"""Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?
    Ans: In layman's terms, loc in Pandas DataFrame is used to select data by labels (row/column names), while iloc is used to select data by integer index positions. 
         loc is more explicit and requires column/row names, while iloc uses integer positions.
"""

"Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?\n    Ans: In layman's terms, loc in Pandas DataFrame is used to select data by labels (row/column names), while iloc is used to select data by integer index positions. \n         loc is more explicit and requires column/row names, while iloc uses integer positions.\n"

In [4]:
"""Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].
    Did you observe any difference in both the outputs? If so then explain it.
"""

reindex = [3,0,1,2]
new_df = df.reindex(reindex)
print(list(new_df.loc[2]))
print(list(new_df.iloc[2]))

# loc[] gives the index named 2
# iloc[] give the 2nd item from top

['Big Data', 6]
['Machine Learning', 3]

In [5]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.674255  0.935197  0.711913  0.583463  0.286906  0.156136
2  0.812681  0.715801  0.743273  0.055401  0.621657  0.803294
3  0.708834  0.927880  0.263790  0.430704  0.925483  0.722257
4  0.359039  0.615584  0.933178  0.832675  0.947845  0.985379
5  0.916502  0.684271  0.029837  0.468171  0.383268  0.640793
6  0.798918  0.918828  0.465228  0.343355  0.378282  0.562890

In [6]:
"""Q4. Write a code to find the following statistical measurements for the above dataframe df1:
    (i) mean of each and every column present in the dataframe.
    (ii) standard deviation of column, 'column_2'"""
# (i) mean of each and every column present in the dataframe.
print(df1.describe().mean())

print()
# (ii) standard deviation of column, 'column_2'
print(df1.describe()['column_2'].std())

column_1    1.303236
column_2    1.366144
column_3    1.182776
column_4    1.120916
column_5    1.230878
column_6    1.264224
dtype: float64

1.889314932166339

In [7]:
"""Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.
    If you are getting errors in executing it then explain why.
    [Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]"""

df1.loc[:,['column_2']] = ['1','2','3','4','5','6']
df1['column_2'].mean()

20576.0

In [8]:
"""Q6. What do you understand about the windows function in pandas and list the types of windows
functions?"""

"""Ans: Pandas window functions analyze and compare data points over a given time period or moving window. 
        They allow calculations to be performed on a sliding or rolling window, with several types available such as rolling, expanding, EWM, and Groupby. 
        These functions help gain insights from time series or other data analysis."""

'Ans: Pandas window functions analyze and compare data points over a given time period or moving window. \n        They allow calculations to be performed on a sliding or rolling window, with several types available such as rolling, expanding, EWM, and Groupby. \n        These functions help gain insights from time series or other data analysis.'

In [9]:
"""Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]"""

print(pd.datetime.now().month)
print(pd.datetime.now().year)

2
2024

/tmp/ipykernel_1365/1978449648.py:4: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  print(pd.datetime.now().month)
/tmp/ipykernel_1365/1978449648.py:5: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  print(pd.datetime.now().year)

In [10]:
"""Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes 
       using Pandas time delta. The program should prompt the user to enter the dates and display the result."""

# d1 = pd.to_datetime(input())
# d2 = pd.to_datetime(input())
d1 = pd.to_datetime('2023-03-17')
d2 = pd.to_datetime('2023-03-10')
days_diff = d1.day - d2.day
print(f"Diffenrece in days is {days_diff}")
print(f"Diffenrece in hours is {days_diff * 24}")
print(f"Diffenrece in minutes is {days_diff * 24 * 60 * 60}")

Diffenrece in days is 7
Diffenrece in hours is 168
Diffenrece in minutes is 604800

In [ ]:
"""Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. 
       The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data."""
file_path = input("File path: ")
df = pd.read_csv(file_path)
column_name = input("Column name: ")
cat_order = input("Category order: ")

cat_order = cat_order.split(",")
df[column_name] = pd.Categorical(df[column_name], categories=cat_order)
df = df.sort_values(column_name)

print(df)

In [ ]:
"""Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales 
        of each product category over time. The program should prompt the user to enter the file path and display the chart."""

file_path = input("File path: ")
df = pd.read_csv(file_path)
sales_data = df.groupby(['Product Category', 'Date'])['Sales'].sum().unstack()
sales_data.plot(kind='bar', stacked=True)
plt.title('Sales by Product Category')
plt.xlabel('Date')
plt.ylabel('Sales')